head {}

body {
  margin: 0px;
}

/* container-fluid */
.container-fluid {
  margin: 0px;
  padding: 0px;
}

/* PAGE 1 */
.bg-img1 {
  position: relative;
  height: 1043.33px;
  margin: 0px;
  padding: 0px;
}

.par-sec1 {
  font-size: 36px;
  line-height: 74px;
  margin-top: -500px;
  text-align: left;
}
.verse-num {
  height: 74px;
  width: 75px;
  font-size: 30px;
  color: grey;
}


/* PAGE 2 */
.bg-img2 {}
.page2-heading {
  font-size: 36px;
  line-height: 74px;
  margin-top: -930px;
  margin-left: 100px;
  text-align: left;
}










.bg-img3 {}

.bg-img4 {}

.bg-img5 {
  background-color: orange;
}
