head {

}
body {
  margin: 0px;
}
.bg-img1 {
  position: relative;
  background-color: red;
  height: 1043.33px;
  margin: 0px;
}

.bg-img2 {

  background-image: url("img_cover_donate.jpeg");

}

.bg-img3 {
  background-color: green;
}

.bg-img4 {
  background-color: grey;
}

.bg-img5 {
  background-color: orange;
}
